.list__list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  font-size: 22px;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

.list__btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 18%;
}

.list__form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 100%;
}

.list__text {
  margin: 0;
  width: 35%;
}

input.list__text {
  font-size: 22px;
  height: 100%;
  border: none;
  border-bottom: 2px solid red;
  outline: none;
  padding: 10px;
}

.list__btn-group img {
  width: 50px;
  padding: 3px;
}

.list__btn-list-item {
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: rgb(245, 245, 245);
  outline: none;
  transition: 0.3s;
}

.list__list-item.completed {
  text-decoration: line-through;
  background-color: rgb(205, 205, 205);
}

.list__btn-list-item:hover {
  background: rgb(230, 230, 230);
}

.list__list-item.completed input.list__text {
  background-color: rgb(205, 205, 205);
}

.list__list-item.highlighted {
  border-left: 5px solid red;
}
