@import "../../assets/fonts/fonts.css";

* {
  box-sizing: border-box;
  font-family: "Inter";
}

#root {
  width: 85vw;
  margin: 0 auto;
  padding: 2% 3%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  margin-top: 60px;
}
